{
  "extends": [
    "airbnb-base",
    "plugin:flowtype/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "flowtype"
  ],
  "rules": {
    "import/extensions": [
      "always"
    ],
    "no-confusing-arrow": [
      "error"
    ],
    "import/no-extraneous-dependencies": "off",
    "no-console": "off",
    "max-len": "off",
    "no-nested-ternary": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".mjs"
        ]
      }
    }
  },
  "globals": {
    "describe": true,
    "before": true,
    "after": true,
    "it": true
  }
}